.container {
    border: 1px solid #907f7f;
    border-radius: 10px;
    width: 85%;
    margin: auto;
    margin-bottom: 2%;
    padding: 10px 4% 30px 10px;
    text-align: justify;
}

.container-body img {
    width: 200px;
    height: 180px;
    float: left;
    margin-right: 20px;
    margin-bottom: 2%;
}

.container-body p {
    text-indent: 18px;
}

.more {
    display: block;
    font-style: italic;
    text-transform: uppercase;
    width: 13%;
    text-decoration: none;
    color: #308c83;
    margin-left: auto;
}

.info {
    font-size: 12pt;
}

h3 {
    margin-left: 25%;
    font-size: 1.5em;
}